// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body{
  background-color: white;
}

#header{
 height: 100px;
 border-bottom: 1px solid #EBEBEB;
 background-color: rgba(255, 255, 255, 0.89);
}
#header .navbar{
 margin: auto;
 max-width: 960px;
 height: 100%;
}
#header a{
 color: #231F20 !important;
 text-shadow: none !important;
}
#header h1#logo{
  float: left;
  font-size: 26px;
  line-height: 74px;
}
#header .nav{
  clear: none;
  font-size: 1.2em;
  letter-spacing: 5px;
  margin-top: 30px;
  position: relative;
  left:50px;

}